h1,
h2,
h3,
h4,
h5,
h6,
p{
margin-top: 0;
margin-bottom: 0;
}
ul,
ol {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
img{
display: block;
}

.link {
text-decoration: none;
}

button {
cursor: pointer;
}

.container{
max-width: 1158px;
margin-left: 156px;
margin-right: 156px;
padding-left: 15px;
padding-right: 15px;
display: flex;
    }

section{
padding-top: 120px;
padding-bottom: 120px;
}

.main-nav{
display: flex;
align-items: center;
margin-right: 310px;
}
.menu{
display: flex;
gap: 40px;
    }
.address-items{
display: flex;
gap: 40px;
    }
.logotype{
margin-left: 15px;
margin-right: 70px;
}
body {
font-family: Roboto, sans-serif;
color: #434455;
background-color: #FFFFFF;
}

.logotype {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}

.span {
font-family: 'Raleway', sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2E2F42;
}

.menu-link {
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link:hover,
.menu-link:focus {
color: #404bbf;
}

.link-adress {
font-family: Roboto, sans-serif;
font-style: normal;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--SLATE, #434455);
}

.link-adress:hover,
.link-adress:focus {
color: #404BBF;
}

.menu-item{
padding-top: 24px;
padding-bottom: 24px;
}

.address-items{
padding-top: 24px;
padding-bottom: 24px;
}
header {
background: var(--WHITE, #FFFFFF);
border-bottom: 1px solid #e7e9fc;
}

.address{
font-style: normal;
}

.main-section{
width: 1128px;
height: 603px;
padding: 188px 0;
justify-content: center;
align-items: center;
flex-shrink: 0;
margin: 0 auto;
background: var(--NAVY-BLUE, #2E2F42);
}

.name-main-section {
display: inline-block;
border: 1px solid #2E2F42;
max-width: 494px;
height: 115px;
text-align: left;
flex-shrink: 0;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
color: var(--WHITE, #FFFFFF);
}

.button-order-service {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.64px;
color: var(--WHITE, #FFFFFF);
display: block;
min-width: 169px;
height: 56px;
padding: 16px 32px;
align-items: flex-start;
margin-left: auto;
margin-right: auto;
margin-top: 49px;
border: none;
border-radius: 4px;
gap: 10px;
background-color: #4D5AE5;
cursor: pointer;
}

button:hover,
button:focus {
background: var(--OCEAN, #404BBF);
}

.our-benefits{
margin-bottom: 1px;
text-align: center;
}

.visually-hidden{
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.benefits-list{
display: flex;
row-gap: 24px;
}

.benefits-list-item{
width: calc((100% - 72px) / 4);
}
.section-our-benefits {
background: #FFFFFF;
}

.benefits-item {
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
color: var(--NAVY-BLUE, #2E2F42);
}

.benefits-detail {
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--SLATE, #434455);
}

.our-team-list {
display: flex;
width: calc((100% - 3 * 24px) / 4);
}
.section-our-team {
background: var(--CLOUD, #F4F4FD);
}

.spesialist{
text-align: center;
gap: 24px;
background: var(--WHITE, #FFF);
}

.our-team {
display: block;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
color: var(--NAVY-BLUE, #2E2F42);
}
.our-team-list{
width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
}
.names {
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
padding-top: 32px;
margin-bottom: 8px;
color: var(--NAVY-BLUE, #2E2F42);
}

.profession {
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
padding-bottom: 32px;
color: var(--SLATE, #434455);
}
.names-profession{
padding: 32px 0;
}
.our-portfolio-item{
display: flex;
flex-wrap: wrap;
gap: 24px;
}
.section-our-portfolio {
background: #FFFFFF;
}

.portfolio-place{
width: calc((100% - 48px) / 3);
background: var(--WHITE, #FFFFFF);
}
.our-portfolio {
text-align: center;
font-family: Roboto, sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
color: var(--NAVY-BLUE, #2E2F42);
}

.our-portfolio-item{
row-gap: 48px;
}
.portfolio-items {
font-family: Roboto, sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
margin-top: 32px;
gap: 16px;
color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-spesiec {
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 32px;
color: var(--SLATE, #434455);
}
.portfolio-items-spesiec{
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
margin-bottom: 8px;
}
.section-footer {
padding: 100px 0;
background: var(--NAVY-BLUE, #2E2F42);
}

.paragraf-footer {
display: flex;
width: 264px;
font-family: Roboto, sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
margin-top: 44px;
margin-left: 0;
color: var(--CLOUD, #F4F4FD);
}

.logotype-footer {
display: inline-block;
font-family: Raleway, sans-serif; 
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 16px;
color: var(--IRIS, #4D5AE5);
}

.span-footer {
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--CLOUD, #F4F4FD);
}