ul,
ol {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.span {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.menu-link {
    /* Body Medium */
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.menu-link:hover,
.menu-link:focus {
    color: #404bbf;
}

.link-adress {
    /* Body */
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.link-adress:hover,
.link-adress:focus {
    color: #404BBF;
}

header {
      background: var(--WHITE, #FFFFFF);
    }
.address{
    font-style: normal;
}
.main-section {
    background: var(--NAVY-BLUE, #2E2F42);
    }

.name-main-section {
    text-align: center;
    /* Header 1 */
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    /* 107.143% */
    letter-spacing: 0.02em;
    color: var(--WHITE, #FFFFFF);
}

.button-order-service {
    font-family: Roboto, sans-serif;
    /* Button Text */
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    color: var(--WHITE, #FFFFFF);
    background: #4D5AE5;
    cursor: pointer;
}

button:hover,
button:focus {
        background: var(--OCEAN, #404BBF);
    }

.section-our-benefits {
    background: #FFFFFF;
    }

.benefits-item {
    /* Header 3 */
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.benefits-detail {
    /* Body */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.section-our-team {
    background: var(--CLOUD, #F4F4FD);
       }
.spesialist{
    background: var(--WHITE, #FFF);
    }
.our-team {
    text-align: center;
    /* Header 2 */
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.names {
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.profession {
    /* Body */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.section-our-portfolio {
    background: #FFFFFF;
        }
.portfolio-place{
       background: var(--WHITE, #FFFFFF);
}
.our-portfolio {
    text-align: center;
    /* Header 2 */
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-items {
    /* Header 3 */
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    /* 120% */
    letter-spacing: 0.02em;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-spesiec {
    /* Body */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--SLATE, #434455);
}

.section-footer {
    background: var(--NAVY-BLUE, #2E2F42);
    }

.paragraf-footer {
    /* Body */
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    color: var(--CLOUD, #F4F4FD);
}

.logotype-footer {
    font-family: Raleway, sans-serif; 
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--IRIS, #4D5AE5);
}

.span-footer {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--CLOUD, #F4F4FD);
}